/* ::::: https://login.comcast.net/static/css/junket/styles-light.min.css?v=2dff134 ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
@font-face {
	font-family: "XfinityStandard";
	font-style: normal;
	font-weight: 100;
	src: url('xfinitystandard-thin.eot') format("embedded-opentype"), url('xfinitystandard-thin.woff2') format("woff2"), url('xfinitystandard-thin.woff') format("woff"), url('xfinitystandard-thin.ttf') format("truetype"), url('xfinitystandard-thin.svg') format("svg");
}
@font-face {
	font-family: "XfinityStandard";
	font-style: normal;
	font-weight: 300;
	src: url('xfinitystandard-light.eot') format("embedded-opentype"), url('xfinitystandard-light.woff2') format("woff2"), url('xfinitystandard-light.woff') format("woff"), url('xfinitystandard-light.ttf') format("truetype"), url('xfinitystandard-light.svg') format("svg");
}
@font-face {
	font-family: "XfinityStandard";
	font-style: normal;
	font-weight: 200;
	src: url('xfinitystandard-extralight.eot') format("embedded-opentype"), url('xfinitystandard-extralight.woff2') format("woff2"), url('xfinitystandard-extralight.woff') format("woff"), url('xfinitystandard-extralight.ttf') format("truetype"), url('xfinitystandard-extralight.svg') format("svg");
}
@font-face {
	font-family: "XfinityStandard";
	font-style: normal;
	font-weight: 400;
	src: url('xfinitystandard-regular.eot') format("embedded-opentype"), url('xfinitystandard-regular.woff2') format("woff2"), url('xfinitystandard-regular.woff') format("woff"), url('xfinitystandard-regular.ttf') format("truetype"), url('xfinitystandard-regular.svg') format("svg");
}
@font-face {
	font-family: "XfinityStandard";
	font-style: normal;
	font-weight: 500;
	src: url('xfinitystandard-medium.eot') format("embedded-opentype"), url('xfinitystandard-medium.woff2') format("woff2"), url('xfinitystandard-medium.woff') format("woff"), url('xfinitystandard-medium.ttf') format("truetype"), url('xfinitystandard-medium.svg') format("svg");
}
@media only screen and (max-width: 504px) {
	#breakpoints { font-family: x-small; }
}
@media only screen and (min-width: 505px) and (max-width: 729px) {
	#breakpoints { font-family: small; }
}
@media only screen and (min-width: 730px) and (max-width: 1023px) {
	#breakpoints { font-family: medium; }
}
@media only screen and (min-width: 1024px) {
	#breakpoints { font-family: large; }
}
h1, .h1 { font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 100; letter-spacing: 0.2px; font-size: 30px; margin: 48px 0px 30px; line-height: 1; }
h1.xfinity-logo, .h1.xfinity-logo { width: 122px; height: 40px; margin: 0px auto 50px; }
h2, .h2 { font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 200; letter-spacing: 0.2px; color: rgb(25, 25, 25); font-size: 24px; line-height: 36px; }
.body2, .overlay[role="dialog"] > .content, .main-content { font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 300; letter-spacing: 0.2px; color: rgb(68, 72, 76); font-size: 16px; line-height: 26px; }
html { height: 100%; -moz-osx-font-smoothing: grayscale; text-rendering: optimizelegibility; font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 400; letter-spacing: 0.2px; background-color: rgb(242, 242, 242); }
#background { position: absolute; top: 0px; width: 100%; height: 100%; z-index: -1; background-color: rgb(242, 244, 245); }
@media only screen and (max-width: 504px), only screen and (min-width: 505px) and (max-width: 729px), only screen and (min-width: 730px) and (max-width: 1023px) {
	#background { display: none; }
}
button, .button { -moz-appearance: none; font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 500; letter-spacing: 0.2px; display: inline-block; font-size: 18px; line-height: 28px; color: rgb(255, 255, 255); box-sizing: border-box; cursor: pointer; text-align: center; background: transparent none repeat scroll 0px center; border: 0px none; }
button:focus, .button:focus { outline: 0px none; box-shadow: none; }
button.primary, .button.primary, button.secondary, .button.secondary, button.submit, .button.submit { height: 48px; line-height: 48px; padding: 0px 2em; margin-top: 48px; border-radius: 3ex; background: transparent none repeat scroll 0% 0%; }
button.primary:active, .button.primary:active, button.secondary:active, .button.secondary:active, button.submit:active, .button.submit:active { background-color: rgb(26, 105, 146); border-color: rgb(26, 105, 146); }
button.primary:disabled, .button.primary:disabled, button.secondary:disabled, .button.secondary:disabled, button.submit:disabled, .button.submit:disabled { color: rgb(140, 140, 140); border-color: rgb(140, 140, 140); cursor: default; }
button.primary:disabled:hover, .button.primary:disabled:hover, button.secondary:disabled:hover, .button.secondary:disabled:hover, button.submit:disabled:hover, .button.submit:disabled:hover { background: transparent none repeat scroll 0% 0%; }
button.submit, .button.submit { background-color: rgb(2, 114, 182); }
button.submit:hover, .button.submit:hover { background-color: rgb(26, 105, 146); border-color: rgb(26, 105, 146); }
button.submit:focus, .button.submit:focus { background-color: rgb(1, 83, 131); border-color: rgb(1, 83, 131); }
@media only screen and (min-width: 505px) and (max-width: 729px) {
}
a, .link { padding: 0px; font-family: inherit; font-style: inherit; font-size: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; font-weight: 500; border: 0px none; border-radius: 0px; background: transparent none repeat scroll 0px center; text-decoration: none; white-space: nowrap; color: rgb(2, 114, 182); }
a:focus, .link:focus { outline: 0px none; box-shadow: 0px 0px 2px 1px rgb(2, 114, 182) inset, 0px 0px 2px 2px rgb(2, 114, 182); }
input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
.checkbox { display: inline-block; box-sizing: border-box; vertical-align: middle; font-size: 16px; width: 27px; height: 27px; border-radius: 3px; margin-right: 6px; cursor: pointer; background-color: rgb(255, 255, 255); border: 1px solid rgb(134, 143, 150); }
.checkbox + div.content { display: inline; font-size: 16px; font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 300; letter-spacing: 0.2px; color: rgb(68, 72, 76); }
input[type="checkbox"]:checked + .checkbox { background: rgb(2, 114, 182) url('undefined') repeat scroll 0% 0%; border: 0px none; }
input[type="checkbox"]:focus ~ .checkbox { border: 1px solid rgb(2, 114, 182); }
input[type="checkbox"]:checked:focus ~ .checkbox { border: 0px none; outline: 0px none; box-shadow: 0px 0px 2px 1px rgb(2, 114, 182) inset, 0px 0px 2px 2px rgb(2, 114, 182); }
.checkbox-container { margin-top: 18px; text-align: left; }
.checkbox-container label { cursor: pointer; }
ol li::before { display: inline-block; content: counter(list-counter, decimal) "."; counter-increment: list-counter; margin-left: -2em; margin-right: 0px; width: 2em; }
ul, .ul { list-style-type: none; margin: 24px 0px 0px; padding: 0px; }
ul:first-child, .ul:first-child { margin-top: 0px; }
ul li, .ul li, ul .li, .ul .li { font-size: 16px; font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 300; letter-spacing: 0.2px; padding: 12px 0px; margin: 14px 0px 0px; text-align: left; color: rgb(68, 72, 76); border-style: solid; border-width: 1px 0px; line-height: 22px; border-color: rgba(0, 0, 0, 0.18); }
ul li:first-child, .ul li:first-child, ul .li:first-child, .ul .li:first-child { margin-top: 0px; }
ul li + li, .ul li + li, ul .li + li, .ul .li + li, ul li + .li, .ul li + .li, ul .li + .li, .ul .li + .li { border-top-width: 0px; margin-top: 0px; }
ul li:last-child, .ul li:last-child, ul .li:last-child, .ul .li:last-child { margin-bottom: 0px; }
@media only screen and (min-width: 505px) and (max-width: 729px) {
}
label, .label { font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 400; letter-spacing: 0.2px; }
.textfield, input[type="text"], input[type="password"], input[type="tel"], input[type="number"], input[type="email"] { -moz-appearance: none; height: 56px; width: 100%; display: inline-block; border-radius: 3px; border: 1px solid rgb(177, 185, 191); padding: 0px 18px; box-sizing: border-box; font-size: 18px; background-color: rgb(242, 244, 245); color: rgb(68, 72, 76); font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 300; letter-spacing: 0.2px; }
.textfield:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="email"]:focus { border: 1px solid rgb(2, 114, 182); outline: 0px none; }
.textfield-wrapper { width: 100%; margin: 10px 0px 0px; position: relative; }
.textfield-wrapper label.float { display: inline-block; vertical-align: top; position: absolute; top: 1px; bottom: 0px; right: 0px; width: auto; pointer-events: none; padding: 0px 18px; height: 56px; line-height: 56px; font-family: "XfinityStandardCondensed",helvetica,arial,sans-serif; font-weight: 700; letter-spacing: 0.5px; font-size: 15px; text-transform: uppercase; color: rgb(68, 72, 76); }
.textfield-wrapper ~ .textfield-wrapper { margin-top: 6px; }
:-moz-placeholder { color: rgb(68, 72, 76) ! important; font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 300; letter-spacing: 0.2px; opacity: 1; }
*::-moz-placeholder { color: rgb(68, 72, 76) ! important; font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 300; letter-spacing: 0.2px; opacity: 1; }
[role="dialog"] { z-index: 1000; font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 300; letter-spacing: 0.2px; font-size: 16px; line-height: 22px; }
[role="dialog"][aria-hidden="true"] { display: none; }
.overlay[role="dialog"] { position: fixed; left: 0px ! important; bottom: 0px ! important; width: 100%; height: 100vh; }
.overlay[role="dialog"] > .content { position: absolute; max-width: 800px; padding: 54px 144px 72px; overflow: auto; color: rgb(255, 255, 255); }
.overlay[role="dialog"] > .content h2 { text-align: center; margin-top: 0px; color: rgb(255, 255, 255); }
.overlay[role="dialog"] > .content h2 + p { margin-top: 1em; }
@media only screen and (min-width: 505px) and (max-width: 729px), only screen and (max-width: 504px) {
	.overlay[role="dialog"] > .content { margin-top: 0px; padding: 50px 24px 24px; width: 100%; height: 100%; }
	.overlay[role="dialog"] > .content h2 { margin: 4px 0px; }
}
[role="dialog"] > .content { box-sizing: border-box; text-align: left; background-color: rgb(0, 0, 0); }
[role="dialog"] .close { display: block; width: 21px; height: 20px; position: absolute; padding: 0px; background: transparent none repeat scroll 0px center; border: 0px none; font-size: 36px; line-height: 20px; }
[role="dialog"] .close::after { content: "×"; font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 100; letter-spacing: 0.2px; vertical-align: top; display: inline-block; margin-top: -3px; color: rgb(177, 185, 191); }
[role="dialog"] .close:focus { outline: 0px none; box-shadow: 0px 0px 2px 1px rgb(2, 114, 182) inset, 0px 0px 2px 2px rgb(2, 114, 182); }
.overlay[role="dialog"] .close { top: 30px; right: 30px; }
[role="dialog"]:focus { outline: 0px none; }
.icon { width: 22px; height: 22px; padding: 0px; margin: 0px 12px; display: inline-block; box-sizing: border-box; vertical-align: middle; background: transparent none repeat scroll 0% 0%; border-radius: 50%; border: 1px solid rgb(2, 114, 182); }
.icon:focus { border-width: 2px; }
.icon:active, .icon.active { background-color: rgb(2, 114, 182); }
.icon.back::before { content: ""; background: transparent url('undefined') repeat scroll 0% 0%; display: block; width: 23px; height: 23px; transform: rotate(-90deg); }
#fb { position: relative; top: 2px; }
#fb::before { content: url('fb-logo-29.png'); width: 29px; height: 29px; vertical-align: middle; display: inline-block; margin-top: -13px; margin-bottom: -6px; }
.icon.info { margin-left: 6px; }
.icon.info::after { content: "i"; display: inline-block; box-sizing: border-box; width: 22px; height: 22px; margin-left: -1.5px; vertical-align: top; text-align: center; font: italic 16px/22px Georgia,serif; color: rgb(2, 114, 182); cursor: pointer; }
.icon.info:focus::after { margin-left: -2.5px; margin-top: -1px; font-weight: bold; }
.icon.info:active::after, .icon.info.active::after { color: rgb(255, 255, 255); }
@media only screen and (min-width: 505px) and (max-width: 729px) {
}
.xfinity-logo { background: transparent url('undefined') repeat scroll 0% 0% / cover ; display: block; }
footer { position: absolute; box-sizing: border-box; bottom: 0px; width: 100%; height: 60px; line-height: 30px; font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 400; letter-spacing: 0.2px; font-size: 11px; background-color: rgb(0, 0, 0); color: rgb(230, 234, 237); text-align: left; padding: 15px 30px; }
footer .links a { font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 400; letter-spacing: 0.2px; color: rgb(255, 255, 255); }
footer .truste { float: right; margin-top: 5px; }
footer .truste a { display: inline-block; height: 20px; }
footer .truste a img { max-width: 64px; height: 20px; }
@media only screen and (max-width: 729px) {
	footer { height: 150px; padding: 22px; text-align: center; line-height: 1; }
	footer > .divider { display: none; }
	footer .links { display: block; }
	footer .links ~ .links { margin-top: 18px; }
	footer .copyright { position: absolute; bottom: 20px; left: 22px; line-height: 1; }
	footer .truste { position: absolute; bottom: 20px; right: 22px; line-height: 1; }
	footer .truste a img { position: relative; }
}
@media only screen and (max-width: 864px) {
}
html:not(.da-fullscreen) .ad-links { display: none; }
#nucaptcha-widget { margin-top: 24px; text-align: left; }
#nucaptcha-widget #nucaptcha-answer { margin-top: 20px; }
#nucaptcha-widget label { display: block; margin-top: 20px; }
#nucaptcha-widget p { margin-top: 10px; }
#nucaptcha-widget p .cmd, #nucaptcha-widget p #player-mode, #nucaptcha-widget p #new-challenge { display: block; padding-top: 10px; }
.accessibly-hidden, .screen-reader-text, h1.xfinity-logo span, .h1.xfinity-logo span { position: absolute ! important; display: block; visibility: visible; overflow: hidden; width: 1px; height: 1px; margin: -1px; border: 0px none; padding: 0px; clip: rect(0px, 0px, 0px, 0px); }
body { min-height: 100%; position: relative; box-sizing: border-box; }
body.has-footer #bd, body.has-footer .bd { padding-bottom: 78px; }
@media only screen and (max-width: 729px) {
	body.has-footer #bd, body.has-footer .bd { padding-bottom: 168px; }
}
@media only screen and (max-width: 864px) {
}
#bd { text-align: center; padding-top: 60px; }
#left { display: inline-block; width: 594px; margin-left: 20px; vertical-align: top; text-align: left; }
#left:empty { display: none; }
#right { width: 100%; max-width: 340px; margin-left: 30px; display: inline-block; }
#right > .container { padding: 30px 20px 42px; }
@media only screen and (max-width: 504px), only screen and (min-width: 505px) and (max-width: 729px), only screen and (min-width: 730px) and (max-width: 1023px) {
	html:not(.da):not(.tve) #left { display: none; }
}
#left:empty ~ #right { display: block; max-width: 600px; margin: auto; }
#left:empty ~ #right > .container { background-color: transparent; padding-top: 30px; }
#left:empty ~ #right .textfield, #left:empty ~ #right input[type="text"], #left:empty ~ #right input[type="password"], #left:empty ~ #right input[type="tel"], #left:empty ~ #right input[type="number"], #left:empty ~ #right input[type="email"] { background-color: rgb(255, 255, 255); }
@media only screen and (max-width: 504px), only screen and (min-width: 505px) and (max-width: 729px), only screen and (min-width: 730px) and (max-width: 1023px) {
	html:not(.da) #bd #right { display: block; max-width: 600px; margin: auto; }
	html:not(.da) #bd #right > .container { background-color: transparent; padding-top: 30px; }
	html:not(.da) #bd #right > .container + .container { margin-top: 0px; }
	html:not(.da) #bd #right .textfield, html:not(.da) #bd #right input[type="text"], html:not(.da) #bd #right input[type="password"], html:not(.da) #bd #right input[type="tel"], html:not(.da) #bd #right input[type="number"], html:not(.da) #bd #right input[type="email"] { background-color: rgb(255, 255, 255); }
}
.da #left { margin-left: 0px; }
.da-fullscreen #background { background-repeat: no-repeat; background-attachment: scroll; background-position: right top; }
.da-fullscreen #bd { text-align: right; }
.da-fullscreen #left { width: 300px; height: 600px; }
.da-fullscreen #right { margin: 0px 30px; }
.da-fullscreen #ads-info { display: none; }
@media only screen and (max-width: 729px) {
	.da.da-300x250 #left:not(:empty), .da.da-300x600 #left:not(:empty) { position: absolute; display: block; width: 100%; bottom: 18px; }
	.da.da-300x250 #left:not(:empty) #ad-block, .da.da-300x600 #left:not(:empty) #ad-block { width: 300px; margin: auto; }
	.da.da-300x250 #left:not(:empty) #ads-info, .da.da-300x600 #left:not(:empty) #ads-info { text-align: center; }
}
@media only screen and (max-height: 719px) {
	.da #left, .da #right { vertical-align: top; }
}
@media only screen and (max-width: 989px) {
	.da.da-expandable #left:not(:empty) { display: none; }
}
@media only screen and (max-width: 1023px) {
	.da.da-fullscreen #background, .da.da-fullscreen #left:not(:empty) { display: none; }
	.da.da-fullscreen #bd #right { display: block; max-width: 600px; margin: auto; }
	.da.da-fullscreen #bd #right > .container { background-color: transparent; padding-top: 30px; }
	.da.da-fullscreen #bd #right .textfield, .da.da-fullscreen #bd #right input[type="text"], .da.da-fullscreen #bd #right input[type="password"], .da.da-fullscreen #bd #right input[type="tel"], .da.da-fullscreen #bd #right input[type="number"], .da.da-fullscreen #bd #right input[type="email"] { background-color: rgb(255, 255, 255); }
}
@media only screen and (min-width: 1400px) {
	.da.da-fullscreen #background { background-position: center top; }
	.da.da-fullscreen #bd { text-align: center; }
	.da.da-fullscreen #left { margin-left: 670px; }
	.da.da-fullscreen #right { margin-right: 0px; }
}
@media only screen and (max-width: 729px) {
	.da.da-300x250 #left:not(:empty), .da.da-300x600 #left:not(:empty) { bottom: 192px; }
}
#ad-block { line-height: 0; position: relative; }
#ads-info { position: absolute; bottom: -18px; width: 100%; font-size: 12px; }
#ads-info a { font-family: "XfinityStandard",helvetica,arial,sans-serif; font-weight: 400; letter-spacing: 0.2px; color: rgb(68, 72, 76); }
@media only screen and (min-height: 867px) and (min-width: 1280px) {
}
.tve #left li h3::before { content: ""; display: inline-block; width: 23px; height: 23px; vertical-align: top; margin-top: 2px; margin-left: -6px; background: transparent url('undefined') repeat scroll 0% 0%; transform: rotate(90deg); }
@media only screen and (min-width: 1024px) {
}
@media only screen and (max-width: 504px), only screen and (min-width: 505px) and (max-width: 729px), only screen and (min-width: 730px) and (max-width: 1023px) {
	.tve #right .xfinity-logo::after { content: ""; width: 72px; height: 72px; background: transparent none no-repeat scroll left center; margin-top: -16px; position: absolute; right: 0px; display: inline-block; }
}
@media only screen and (max-width: 729px) {
}
@media only screen and (min-width: 730px) and (max-width: 1023px), only screen and (min-width: 505px) and (max-width: 729px), only screen and (max-width: 504px) {
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 730px) and (max-width: 1023px), only screen and (min-width: 505px) and (max-width: 729px), only screen and (max-width: 504px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 505px) and (max-width: 729px), only screen and (max-width: 504px) {
}
@media only screen and (min-width: 505px) and (max-width: 729px), only screen and (max-width: 504px) {
}
@media only screen and (min-width: 730px) and (max-width: 1023px), only screen and (min-width: 505px) and (max-width: 729px), only screen and (max-width: 504px) {
}
@media only screen and (min-width: 505px) and (max-width: 729px), only screen and (max-width: 504px) {
}
@media only screen and (max-width: 504px) {
}
@media only screen and (max-width: 504px), only screen and (max-height: 719px) {
	html:not(.da-fullscreen) h1.xfinity-logo, html:not(.da-fullscreen) .h1.xfinity-logo { margin-bottom: 30px; width: 101px; height: 33px; }
	html:not(.da-fullscreen) h4, html:not(.da-fullscreen) .h4 { margin-top: 10px; }
	html:not(.da-fullscreen) #bd { padding-top: 24px; }
	html:not(.da-fullscreen) #right button.primary, html:not(.da-fullscreen) #right button.secondary, html:not(.da-fullscreen) #right button.submit { margin-top: 36px; }
	html:not(.da-fullscreen) #right h1 + .sign_in { margin: 12px 0px 18px; }
	html:not(.da-fullscreen) .navbar { margin-top: 40px; }
	html:not(.da-fullscreen) #sign_in + ul { margin-top: 42px; }
	html:not(.da-fullscreen) .checkbox-container { margin-top: 12px; }
	html:not(.da-fullscreen) ul, html:not(.da-fullscreen) .ul { margin-top: 18px; }
}
@media only screen and (max-width: 504px) {
	html:not(.da-fullscreen) #bd #right > .container, html:not(.da-fullscreen) #left:empty ~ #right > .container { padding-left: 12px; padding-right: 12px; }
}
@media only screen and (max-height: 719px) {
	html:not(.da-fullscreen) #bd #right > .container, html:not(.da-fullscreen) #left:empty ~ #right > .container { padding-bottom: 18px; }
}
@media only screen and (max-width: 729px) and (max-height: 699px) {
	html:not(.da-fullscreen) #bd { padding-top: 0px; }
	html:not(.da-fullscreen) #bd #right > .container, html:not(.da-fullscreen) #left:empty ~ #right > .container { padding-bottom: 0px; }
	html:not(.da-fullscreen) input[type="text"], html:not(.da-fullscreen) input[type="password"] { height: 46px; }
	html:not(.da-fullscreen) .textfield-wrapper label.float { height: 46px; line-height: 46px; }
}
p:empty, h1:empty, h2:empty, h3:empty, h4:empty { display: none; }
p { margin-top: 24px; }
body { color: rgb(0, 0, 0); }
.divider::before { content: "|"; padding: 0px 1ex; }
#sign_in + ul { margin-top: 60px; }
#right { text-align: center; }
#right > .container { background-color: rgb(255, 255, 255); font-size: 18px; }
#right > .container input[type="text"], #right > .container input[type="password"] { width: 100%; margin-left: auto; margin-right: auto; }
#right > .container button, #right > .container a.button { box-sizing: border-box; }
#right > .container #login_id_label, #right > .container #password_label { display: none; }
#right #fb + a { margin-left: 10px; vertical-align: middle; }
#right #quick-bill-pay { display: none; }
:focus { outline: 0px none; }
.clearfix::before, .clearfix::after { content: ""; display: table; }
.clearfix::after { clear: both; }
@media only screen and (min-width: 1400px) {
}
.fb_reset { background: transparent none repeat scroll 0% 0%; border: 0px none; border-spacing: 0px; color: rgb(0, 0, 0); cursor: auto; direction: ltr; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0px; overflow: visible; padding: 0px; text-align: left; text-decoration: none; text-indent: 0px; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; }
.fb_reset > div { overflow: hidden; }
#background { background-image: url('1491846080_001.dat'); background-color: rgb(43, 34, 37); }
